extends layout

block content
  <h1 style="text-align: center;"><B>Seller</B></h1>
  <p style="text-align: center;"><B>T-Shirt &nbsp;</B><B>Hoodies &nbsp;</B><B>Posters &nbsp;</B><B>Album &nbsp;</B></p>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <img src="1.jpg" width="200" height="200" alt="">
        <p id="p1"><B>Happy Ninja</B></p>
          <div class = "con">
            <i class = "fa fa-star" aria-hidden = "true" id = "st1"></i>
            <i class = "fa fa-star" aria-hidden = "true" id = "st2"></i>
            <i class = "fa fa-star" aria-hidden = "true" id = "st3"></i>
            <i class = "fa fa-star" aria-hidden = "true" id = "st4"></i>
            <i class = "fa fa-star" aria-hidden = "true" id = "st5"></i>
      </div>  
        <p id="p2"><B>$10.00</B></p>
        <a id="a1" class="btn btn-dark" style="color: white;">Add to Cart</a>
      </div>

    <div class="col-sm">
      <img src="1.jpg" width="200" height="200" alt="">
      <p id="pa11"><b>Quality Poster</b></p>
       <div class = "con">
        <i class = "fa fa-star" aria-hidden = "true" id = "st1"></i>
        <i class = "fa fa-star" aria-hidden = "true" id = "st2"></i>
        <i class = "fa fa-star" aria-hidden = "true" id = "st3"></i>
        <i class = "fa fa-star" aria-hidden = "true" id = "st4"></i>
        <i class = "fa fa-star" aria-hidden = "true" id = "st5"></i>
    </div>    
      <p id="pa22"><B>$12.00</B></p>
      <a id="a22" class="btn btn-dark" style="color: white;">Add to Cart</a>
    </div>
    <div class="col-sm">
      <img src="2.jpg" width="200" height="200" alt="">
      <p id="pa11"><b>Quality Poster</b></p>
       <div class = "con">
        <i class = "fa fa-star" aria-hidden = "true" id = "st1"></i>
        <i class = "fa fa-star" aria-hidden = "true" id = "st2"></i>
        <i class = "fa fa-star" aria-hidden = "true" id = "st3"></i>
        <i class = "fa fa-star" aria-hidden = "true" id = "st4"></i>
        <i class = "fa fa-star" aria-hidden = "true" id = "st5"></i>
    </div>    
      <p id="pa22"><B>$12.00</B></p>
      <a id="a22" class="btn btn-dark" style="color: white;">Add to Cart</a>
    </div>
    <div class="col-sm">
      <img src="2.jpg" width="200" height="200" alt="">
      <p id="pa11"><b>Quality Poster</b></p>
       <div class = "con">
        <i class = "fa fa-star" aria-hidden = "true" id = "st1"></i>
        <i class = "fa fa-star" aria-hidden = "true" id = "st2"></i>
        <i class = "fa fa-star" aria-hidden = "true" id = "st3"></i>
        <i class = "fa fa-star" aria-hidden = "true" id = "st4"></i>
        <i class = "fa fa-star" aria-hidden = "true" id = "st5"></i>
    </div>    
      <p id="pa22"><B>$12.00</B></p>
      <a id="a22" class="btn btn-dark" style="color: white;">Add to Cart</a>
    </div>
    <div class="col-sm">
      <img src="2.jpg" width="200" height="200" alt="">
      <p id="pa11"><b>Quality Poster</b></p>
       <div class = "con">
        <i class = "fa fa-star" aria-hidden = "true" id = "st1"></i>
        <i class = "fa fa-star" aria-hidden = "true" id = "st2"></i>
        <i class = "fa fa-star" aria-hidden = "true" id = "st3"></i>
        <i class = "fa fa-star" aria-hidden = "true" id = "st4"></i>
        <i class = "fa fa-star" aria-hidden = "true" id = "st5"></i>
    </div>    
      <p id="pa22"><B>$12.00</B></p>
      <a id="a22" class="btn btn-dark" style="color: white;">Add to Cart</a>
    </div>
    <div class="col-sm">
      <img src="3.jpg" width="200" height="200" alt="">
      <p id="pa11"><b>Quality Poster</b></p>
       <div class = "con">
        <i class = "fa fa-star" aria-hidden = "true" id = "st1"></i>
        <i class = "fa fa-star" aria-hidden = "true" id = "st2"></i>
        <i class = "fa fa-star" aria-hidden = "true" id = "st3"></i>
        <i class = "fa fa-star" aria-hidden = "true" id = "st4"></i>
        <i class = "fa fa-star" aria-hidden = "true" id = "st5"></i>
    </div>    
      <p id="pa22"><B>$12.00</B></p>
      <a id="a22" class="btn btn-dark" style="color: white;">Add to Cart</a>
    </div>
    <div class="col-sm">
      <img src="3.jpg" width="200" height="200" alt="">
      <p id="pa11"><b>Quality Poster</b></p>
       <div class = "con">
        <i class = "fa fa-star" aria-hidden = "true" id = "st1"></i>
        <i class = "fa fa-star" aria-hidden = "true" id = "st2"></i>
        <i class = "fa fa-star" aria-hidden = "true" id = "st3"></i>
        <i class = "fa fa-star" aria-hidden = "true" id = "st4"></i>
        <i class = "fa fa-star" aria-hidden = "true" id = "st5"></i>
    </div>    
      <p id="pa22"><B>$12.00</B></p>
      <a id="a22" class="btn btn-dark" style="color: white;">Add to Cart</a>
    </div>
    <div class="col-sm">
      <img src="3.jpg" width="200" height="200" alt="">
      <p id="pa11"><b>Quality Poster</b></p>
       <div class = "con">
        <i class = "fa fa-star" aria-hidden = "true" id = "st1"></i>
        <i class = "fa fa-star" aria-hidden = "true" id = "st2"></i>
        <i class = "fa fa-star" aria-hidden = "true" id = "st3"></i>
        <i class = "fa fa-star" aria-hidden = "true" id = "st4"></i>
        <i class = "fa fa-star" aria-hidden = "true" id = "st5"></i>
    </div>    
      <p id="pa22"><B>$12.00</B></p>
      <a id="a22" class="btn btn-dark" style="color: white;">Add to Cart</a>
    </div>
  </div>